@font-face {
  font-family: 'Ikiiko';
  src: url('assets/webfonts/ikiikobonus-webfont.woff2') format('woff2'),
       url('assets/webfonts/ikiikobonus-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tjoekil';
  src: url('assets/webfonts/tjoekilkajoe-webfont.woff2') format('woff2'),
       url('assets/webfonts/tjoekilkajoe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}